<h2>An Introduction to Flintstones</h2>
<p>
The Flintstones is an animated, prime-time American television sitcom that was broadcasted. broadcasted, where? ........... <br/>
And the para ends abruptly...
</p>
